<!-- <!DOCTYPE html>

<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<!-- <title>Bug Tracker - Overview</title> -->

<!-- </head> -->

<link rel="stylesheet" href="https://rsms.me/inter/inter.css">  

<!-- <body> -->
<!-- <app-sidebar></app-sidebar> -->

<h1>Welcome to Bug Tracker</h1>

<!-- <video controls>
    <source src="" type="video/mp4">
    <source src="path/to/video.webm" type="video/webm">
    Your browser does not support the video tag.
  </video>
   -->
<h2>
  <p>Manage and track bugs in your software projects with ease.</p>
</h2>
<button type="button" class="cta-button" (click)="onSubmit()" routerLink="/reallogin">Get Started</button>
<img src="" alt="">


<!-- </body> -->
<!-- </html>  -->